@import "tailwindcss";



.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xl {
    font-size: large;
}

.puw {
    background: linear-gradient(180deg, #8a08f5 0%, #e0d8eb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt {
    text-shadow: 0px 4px 4px rgba(160, 27, 221, 0.25);
}

.bub {
    background: linear-gradient(180deg, black 20%, #05011a 100%);
}

.bg {
    background-color: #05011a;
}

.text {
    text-shadow: 5px 5px 10px rgba(112, 116, 117, 0.4);
}

.textp {
    text-shadow: 5px 5px 10px rgba(152, 26, 202, 0.4);
}

.textr {
    text-shadow: 5px 5px 10px rgba(241, 14, 14, 0.4);
}

.capsule {
    box-shadow: inset 0px 0px 16px 0px rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    border: 1px solid rgba(95, 95, 113, 0.22);
}

.box {
    height: 65px;
    overflow: hidden;
    box-shadow: inset 0px 0px 16px 0px rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(95, 95, 113, 0.22);
}

.circle {
    border-radius: 100%;
    padding: 10px;
    border: 1px solid rgba(191, 191, 201, 0.22);
    background-color: rgb(230, 196, 196);
    position: absolute;
    left: -225%;
    z-index: 50;
}

.box2 {
    border: 1px solid rgba(95, 95, 113, 0.22);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 12px;
    position: absolute;
    left: 20px;
    width: 85vw;
}

.box3 {
    border: 1px solid rgba(95, 95, 113, 0.22);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 12px;
    position: absolute;
    /* left: 30px; */
    width: 85vw;
}

@media (min-width: 992px) {

    .box3 {
        /* left: -510px; */
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        width: 500px;
    }

    .box2 {
        width: 500px;
    }
}