/* @font-face {
  font-family: 'Tan Kulture';
  src: url('./assets/fonts/TanKulture.ttf') format('truetype');
} */

@font-face {
  font-family: 'Vamos';
  src: url('./assets/vamos.otf') format('opentype');
}
